<% if !current_user %>
  <%= link_to 'Have an account? Login from here', login_path %>
<% end %><br><br>
<div class="panel panel-primary">
  <div class="panel-heading">
    Why should you be an active Blogger
  </div>
  <div class="panel-body">
    <b>Blogging is challenging, and challenges are good</b>
Anyone who thinks that blogging isn’t challenging hasn’t really done it. It is a challenge to sit down and write, and to do that consistently. It is a challenge to put your ideas out there, but you shouldn’t be scared of it. You should embrace it because it makes you grow, and by growing you become more complex as an individual. It is a challenge that you can handle, and handling challenges can make you happy.<br>
  <b>Learn new things</b>
Handling challenges and becoming more complex makes people happy–so does learning. When people learn, they grow, and feel fulfilled. Blogging is a learning experience. You learn how to write. You learn how to access social media to spread your message. You learn the difference between a catchy title and a dull one. More importantly, through your writing, you can learn a lot about yourself. All of these things can increase your happiness.<br>
  <b>Make a difference in the lives of others</b>
Don’t think that your voice doesn’t matter. It does, and what you have to say will have a positive impact on others. The first time that someone reached out to me to say that they consistently read my blog, and that what I wrote helped them, was a very meaningful moment. I realized then that I could make a difference in people’s lives. It made me feel great, and it motivated me to keep writing.<br>
  <b>Become an expert at something</b>
A blog allows you to develop your thoughts around a particular idea or topic.This will lead to learning more about that topic and networking with others in that field. If you are consistent in our approach you will find that, over time, you will learn quite a bit about that topic. This can build into a unique expertise, which can lead to new business and career opportunities. I have experienced this in my career as well.<br>
  <b>Build your online brand</b>
Blogging is a great way to build an “online brand”. Why does that matter? It matters if you want to keep the door open for continual business and career opportunities. I have had many people contact me over the years on topics such as marketing, sales, and leadership development for consulting opportunities, speaking engagements and other interesting business endeavors. These are some of the topics that I most frequently write on. One of the best ways to create, and control, your brand, is to frequently write on topics that you wish to be known for.<br>
  <b>Expose your ideas to a larger network</b>
When you blog, and include social sharing options on your blog posts, you have the opportunity to expand your sphere of influence to a much larger network. The key here is to write consistent, high quality content that people find interesting and want to share. Sound daunting? It’s not if you start with what interests you. You are more likely to put thought and effort into topics that are of interest to you, and the great thing is that there really are no rules. Anything that is interesting to you is interesting to someone else out there, and that person  will share your content with his or her network.<br>
I think this covers most of the facts, so then what're you waiting for? Head over to the Sign Up page and Join our community and start blogging !!
  </div>
</div>
