<h3>User Blogs</h3>
<center><%= link_to 'My Profile', user_path(current_user) %></center>
<% @blogs.each do |blog| %>
  <div id="blog_body">
    <u><%= link_to "#{blog.title}", blog_path(blog) %></u><br>
    <p><%= sanitize blog.body, tags: %w(b i u) %><br></p>
  </div>
<% end %>
