 /*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 */

form {
  text-align: center ;
  margin-top: 1px;
  margin-bottom: 1px;
}
p {
  font-style: "Courier New";
  /*text-align: center;*/
}
input {
  display: inline-block;  
}
/*label{
    display:inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 3px;
}*/

#comment_data{
  display:inline-block;
  width:90%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
}
h2 {
  font-style: italic;
}
h3 {
  text-align: center;
}
legend {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-style: italic;
  font-size: 25px;
}
h4 {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}
#blog_body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: #d0e4fe;
}
a {
  font-size: 15px;
}
#button{
  text-align: center;
}
.field_with_errors{
  display: inline-block;
}
