// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// section {
//   background: #B5D6FD;
// }
h3 {
  text-align: center ;
}
form {
  text-align: center ;
}
label{
    display:inline-block;
    width:100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
textarea{
  display:inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

