<h3>Moderator Activities</h3>
<% Activity.user_activities.each do |key,value| %>
  <legend><%= link_to "#{key}", "#", id: "app-moderator-activity" %></legend>
  <section id="app-mod-act-section">
    <% value.each do |k,v| %>
      <div class="well"><%= "#{k} #{v}" %></div>
    <% end %>
  </section>
<% end %>
