<h3>Moderator Activities</h3>
<%= link_to 'Unapproved Activities',"#", id: "unapproved-activities" %><br><br>
<div class="unapproved-activities-section">
  <%= render 'unapproved_activities' %>
</div>

<%= link_to 'Approved Activities', "#", id: "approved-activities" %><br><br>
<div class="approved-activities-section">
  <%= render 'approved_activities' %>
</div>
