<!DOCTYPE html>
<html>
  <head>
    <h3><title>User Blogs</title></h3>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'session', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body bgcolor="#d0e4fe">
    <%= yield %>
  </body>
</html>



